<a href="https://colab.research.google.com/github/SANDEEPGOUD7405/FlimsyMajesticResearch/blob/master/03_09_2020python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
n=int(input("enter a number"))
if n>0:
  print("positive")

enter a number12
positive

In [ ]:
n=int(input("enter a number"))
if n%2==0:
  print("divide by 2")
else:
  print("not")

enter a number12
divide by 2

In [ ]:
n1=int(input("enter a number"))
n2=int(input("enter a number"))
n3=int(input("enter a number"))
if n1>n2:
  if n1>n3:
    print("n1 is greater")
else:
  print("n3 is grate13")

enter a number10
enter a number25
enter a number69
n3 is grate

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(100,0,-3):
  print(i)

100
97
94
91
88
85
82
79
76
73
70
67
64
61
58
55
52
49
46
43
40
37
34
31
28
25
22
19
16
13
10
7
4
1

In [ ]:
num1=int(input("enter a number"))
i=0
while(i<=num1):
  i+=1
  print(i)

enter a number25
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

In [ ]:
for i in range(0,10):
  if i==0:
    break
    print(i)