<a href="https://colab.research.google.com/github/SANDEEPGOUD7405/FlimsyMajesticResearch/blob/master/04_09_2020functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**functions**
anonymous function (lamda)
map()
filter()
reduce

In [ ]:
x=20
y=10
print("add",x+y)

add 30

In [ ]:
def arthimetic(x,y):
  print("addition=",x+y)
  print("sub=",x-y)
  print("mult=",x*y)
arthimetic(20,10)
print("-------")
arthimetic(200,10)
print("------")
arthimetic(100,20)
print("------")

addition= 30
sub= 10
mult= 200
-------
addition= 210
sub= 190
mult= 2000
------
addition= 120
sub= 80
mult= 2000
------

In [ ]:
x=10
def f1():
  global x
  x=20
  print(x)
def f2():
  print(x)
f1()
f2()

20
20

In [ ]:
def f1():
  global x
  x=20
  print(x)
def f2():
  print(x)
f1()
f2()

20
20

**anonymous function ** function without no identity

In [ ]:
# name less function 
# use of lamda instant use (one time function )

In [ ]:
def squrit(n):
  return n*n
squrit(25)

625

syntax
lamda input agreement (expressions)

In [ ]:
ob =lambda n:n*n
print(ob(5))

25

In [ ]:
ob=lambda x,y:x*y
print(ob(7,8))

56

In [ ]:
s=lambda n:n*n
for i in range(1,10):
    print("the square of {} is {}".format(i,s(i)))

the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25
the square of 6 is 36
the square of 7 is 49
the square of 8 is 64
the square of 9 is 81

In [ ]:
s=lambda x,y:x*y if x>y else y
print(s(10,20))

20

**map function **

In [ ]:
lst=[1,2,3,4,5]
def squre(n):
  return n*n
lst=list(map(squre,lst))
print(lst)

[1, 4, 9, 16, 25]

In [ ]:
lst=[1,2,3,4,5,6,7]
lst2=[1,2,3,4,5,6]
lst3=list(map(lambda n,m:n*m ,lst,lst2))
print(lst3)

[1, 4, 9, 16, 25, 36]

In [ ]:
lst1=['gitam','cse','it']
def m1(x):
  return x +'gitam'
print(list(map(m1,lst1)))

['gitamgitam', 'csegitam', 'itgitam']

In [ ]:
lst1=['gitam','cse','it']
def m1(x):
  return x +'gitam'
print(tuple(map(m1,lst1)))

('gitamgitam', 'csegitam', 'itgitam')